project:
  type: website

website:
  title: "Workshop MLOps avec Azure"
  navbar:
    left:
      - href: index.qmd
        text: Accueil

format:
  html:
    theme: cosmo
    toc: true
    css: styles.css
