name: "Deploy Quarto Site"

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: "Install Quarto"
        run: |
          wget -q https://github.com/quarto-dev/quarto-cli/releases/download/v1.4.553/quarto-1.4.553-linux-amd64.deb
          sudo dpkg -i quarto-1.4.553-linux-amd64.deb
      - name: "Build site"
        run: "quarto render"
      - name: "Deploy"
        uses: "peaceiris/actions-gh-pages@v3"
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: "./_site"
          force_orphan: true